<div class="leftside-menu">
  <!-- LOGO -->
  <a href="/home" class="logo text-center logo-light">
    <span class="logo-lg">
      <img class="h-20 mx-auto" src="/assets/images/coa.png" alt="" height="85" />
      <!-- <img  class="h-20"  src="/assets/images/gfca.png" alt="" height="65"> -->
    </span>
  </a>

  <!-- LOGO -->
  <a href="/home" class="logo text-center logo-dark">
    <span class="logo-lg">
      <img class="" src="/assets/images/coa.png" alt="" height="85" />
    </span>
    <span class="logo-sm">
      <img src="/assets/images/logo_sm_dark.png" alt="" height="16" />
    </span>
  </a>

  <div class="h-100" id="leftside-menu-container" data-simplebar>
    <!--- Sidemenu -->
    <ul class="side-nav mt-2">
      <li class="side-nav-title side-nav-item">Navigation</li>

      <li class="side-nav-item">
        <a href="/dashboard" class="side-nav-link">
          <i class="mdi mdi-home"></i>
          <span> Dashboard </span>
        </a>
      </li>

      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebarUserManagement" class="side-nav-link"
          aria-controls="sidebarUserManagement" aria-expanded="false">
          <i class="uil-users-alt"></i>
          <span>User Management</span>
          <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarUserManagement">
          <ul class="side-nav-second-level">
            <li class="side-nav-item">
              <a href="/home/organization" class="side-nav-link">
                <span>Setup Organization</span>
              </a>
            </li>
            <li class="side-nav-item">
              <a href="/home/user/create-user" class="side-nav-link">
                <span>User Creation</span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebarCDD" class="side-nav-link" aria-controls="sidebarCDD"
          aria-expanded="false">
          <i class="uil-file-check-alt"></i>
          <span>Customer Due Diligence</span>
          <!-- <span>Customer Due Diligence (CDD)</span> -->
          <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarCDD">
          <ul class="side-nav-second-level">
            <li class="side-nav-item">
              <a href="#" class="side-nav-link">
                <span>Exporters register</span>
              </a>
            </li>
            <li class="side-nav-item">
              <a href="#" class="side-nav-link">
                <span>Importers register</span>
              </a>
            </li>
            <li class="side-nav-item">
              <a href="#" class="side-nav-link">
                <span>Individual Register</span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebarDataHouse" class="side-nav-link" aria-controls="sidebarDataHouse"
          aria-expanded="false">
          <i class="uil-folder-plus"></i>
          <span>Data House</span>
          <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarDataHouse">
          <ul class="side-nav-second-level">
            <li class="side-nav-item">
              <a href="/shop/load?category=SWIFT" class="side-nav-link">
                <span>SWIFT Advise</span>
              </a>
            </li>
            <li class="side-nav-item">
              <a href="/shop/load?category=BOE" class="side-nav-link">
                <span>Import Declarations</span>
              </a>
            </li>
            <li class="side-nav-item">
              <a href="/shop/load?category=IDF" class="side-nav-link">
                <span>Import declaration form (IDF)</span>
              </a>
            </li>
            <li class="side-nav-item">
              <a href="/shop/load?category=Export Declaration" class="side-nav-link">
                <span>Export Declaration</span>
              </a>
            </li>
            <li class="side-nav-item">
              <a href="/shop/load?category=LOC" class="side-nav-link">
                <span>Letter of commitment (LOC)</span>
              </a>
            </li>
            <li class="side-nav-item">
              <a href="/shop/load?category=Registrar General" class="side-nav-link">
                <span>Registrar General</span>
              </a>
            </li>
            <li class="side-nav-item">
              <a href="/shop/load?category=Sea port gate in" class="side-nav-link">
                <span>Sea port gate in</span>
              </a>
            </li>
            <li class="side-nav-item">
              <a href="/shop/load?category=Sea port gate out" class="side-nav-link">
                <span>Sea port gate out</span>
              </a>
            </li>
            <li class="side-nav-item">
              <a href="/shop/load?category=Air port gate in" class="side-nav-link">
                <span>Air port gate in</span>
              </a>
            </li>
            <li class="side-nav-item">
              <a href="/shop/load?category=Air port gate out" class="side-nav-link">
                <span>Air port gate out</span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="side-nav-item">
        <a href="/home/monitoring" class="side-nav-link">
          <i class="uil-chart-line"></i>
          <span> Transaction Monitoring </span>
        </a>
      </li>

      <li class="side-nav-item">
        <a href="/home/suspicious" class="side-nav-link">
          <i class="uil-shield-check"></i>
          <span> Suspicious Activity Reporting (SAR)</span>
        </a>
      </li>


      <li class="side-nav-item">
        <a href="/home/watchlist" class="side-nav-link">
          <i class="uil-search-alt"></i>
          <!-- <i class="uil-exclamation-octagon"></i> -->
          <span> Watchlist Screening</span>
        </a>
      </li>

      <li class="side-nav-item">
        <a href="/home/tax" class="side-nav-link">
          <i class="uil-dollar-sign-alt"></i>
          <!-- <i class="uil-money-bill"></i> -->
          <!-- <i class="uil-money-bill-stack"></i> -->
          <!-- <i class="uil-exclamation-octagon"></i> -->
          <span> Tax Compliance </span>
        </a>
      </li>

      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebarCaseManagement" aria-expanded="false"
          aria-controls="sidebarCaseManagement" class="side-nav-link">
          <i class="uil-clipboard-notes"></i>
          <span>Case Management </span>
          <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarCaseManagement">
          <ul class="side-nav-second-level">
            <li>
              <a href="/case_mng/new_case">New Case</a>
            </li>
            <li>
              <a href="/case_mng/blacklist">Blacklist</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="side-nav-item">
        <a href="/home/analytics" class="side-nav-link">
          <i class="uil-analytics"></i>
          <span> Data Analytics </span>
        </a>
      </li>

      <!-- <li class="side-nav-item">
        <a href="/position" class="side-nav-link">
          <i class="uil-box"></i>
          <span> Positions </span>
        </a>
      </li> -->

      <!-- <li class="side-nav-item"> -->
      <!-- <a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="false" aria-controls="sidebarTasks" -->
      <!-- <a href="#sidebarTasks" class="side-nav-link">
          <i class="uil-layer-group"></i>
          <span> AI Queries </span> -->
      <!-- <span class="menu-arrow"></span> -->
      <!-- </a> -->
      <!-- <div class="collapse" id="sidebarTasks">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/ai_query/unauthorized_pay">Unauthorized payouts</a>
                        </li>
                        <li>
                            <a href="#">Unauthorized debits</a>
                        </li>
                        <li>
                            <a href="#">Uncleared SWIFT</a>
                        </li>
                    </ul>
                </div> -->
      <!-- </li>
      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebartatistical" aria-expanded="false" aria-controls="sidebartatistical"
          class="side-nav-link">
          <i class="uil-clipboard-alt"></i>
          <span> Statistical reports </span> -->
      <!-- <span class="menu-arrow"></span> -->
      <!-- </a> -->
      <!-- <div class="collapse" id="sidebartatistical">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/statistical_report/soa_val">SOA validation</a>
                        </li>
                        <li>
                            <a href="/statistical_report/rec_pay">Reconciled payouts</a>
                        </li>
                        <li>
                            <a href="#">Reconciled debits</a>
                        </li>
                        <li>
                            <a href="#">Cleared SWIFT</a>
                        </li>
                    </ul>
                </div> -->
      <!-- </li> -->
      <!-- <li class="side-nav-item">
                <a href="/swift_entry" class="side-nav-link">
                    <i class="uil-box"></i>
                    <span> SWIFT entries </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/authz_entry" class="side-nav-link">
                    <i class="uil-box"></i>
                    <span> Authorization entries </span>
                </a>
            </li> -->
    </ul>
    <div class="clearfix"></div>
  </div>
  <!-- Sidebar -left -->
</div>