<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Create Users</title>

    <meta name="csrf-token" content="{{ csrf_token() }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="A fully featured admin theme which can be used to build CRM, CMS, etc."
      name="description"
    />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/gfca.png" />

    <!-- third party css -->
    <link
      href="/assets/css/vendor/jquery-jvectormap-1.2.2.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/assets/css/vendor/dataTables.bootstrap5.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- third party css end -->

    <!-- App css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link
      href="/assets/css/app.min.css"
      rel="stylesheet"
      type="text/css"
      id="app-style"
    />

    <link href="/assets/css/mystyle.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
      .btn-xxl {
        font-size: calc(2rem + 0.0012vw);
        padding: 0.8rem 1rem;
        width: 100%;
        height: 100%;
      }
    </style>

    <script></script>
  </head>

  <body
    class="loading"
    data-layout-color="light"
    data-leftbar-theme="dark"
    data-layout-mode="fluid"
    data-rightbar-onstart="true"
  >
    <!-- Begin page -->
    <div class="wrapper">
      <%- include('../../partials/admin-side'); -%>

      <!-- ============================================================== -->
      <!-- Start Page Content here -->
      <!-- ============================================================== -->

      <div class="content-page px-4">
        <div class="content">
          <%- include('../../partials/admin-nav'); -%>
          <div class="row">
            <div class="col-12">
              <div class="page-title-box d-flex align-items-center gap-x-8">
                <h4 class="page-title mr-3">User</h4>
              </div>
            </div>
          </div>
          <div class="p-3 mb-2 bg-white text-dark rounded">
            <div class="mb-3">
              <label for="simpleinput" class="form-label">Staff Number</label>
              <input type="text" id="simpleinput" class="form-control" />
            </div>

            <div class="mb-3">
              <label for="example-email" class="form-label">Email</label>
              <input
                type="email"
                id="example-email"
                name="example-email"
                class="form-control"
                placeholder="Email"
              />
            </div>
            <div class="mb-3">
              <label for="simpleinput" class="form-label">Staff Name</label>
              <input type="text" id="simpleinput" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="example-date" class="form-label">Date of Birth</label>
              <input
                class="form-control"
                id="example-date"
                type="date"
                name="date"
              />
            </div>

            <div class="mb-3">
              <label for="example-select" class="form-label"
                >Organization</label
              >
              <select class="form-select" id="example-select">
                <option>Ghana Police Service</option>
                <option>Financial Intelligence Center</option>
                <option>Ghana Revenue Authority</option>
                <option>Economic and Organized Crime Unit</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="example-select" class="form-label">Rank</label>
              <select class="form-select" id="example-select">
                <option>Rank 1</option>
                <option>Rank 2</option>
                <option>Rank 3</option>
                <option>Rank 4</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="example-select" class="form-label">Reports to</label>
              <select class="form-select" id="example-select">
                <option>Staff 1</option>
                <option>Staff 2</option>
                <option>Staff 3</option>
                <option>Staff 4</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="example-select" class="form-label">User Type</label>
              <select class="form-select" id="example-select">
                <option>Established</option>
                <option>National Service Personnel</option>
                <option>Contract</option>
                <option>Other</option>
              </select>
            </div>

           

            <div class="mb-3">
              <label for="example-fileinput" class="form-label"
                >Default file input</label
              >
              <input type="file" id="example-fileinput" class="form-control" />
            </div>
             
            </div>
          </div>
          <!-- Start Content-->

          <!-- container -->
        </div>
        <!-- content -->

        <%- include('../../partials/footer'); -%>
      </div>

      <!-- ============================================================== -->
      <!-- End Page content -->
      <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->

    <!-- bundle -->
    <script src="/assets/js/vendor.min.js"></script>
    <script src="/assets/js/app.min.js"></script>

    <!-- third party js -->
    <script src="/assets/js/vendor/apexcharts.min.js"></script>
    <script src="/assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>

    <script src="/assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/assets/js/vendor/dataTables.bootstrap5.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- third party js ends -->

    <script type="text/javascript">
      let $objects = {};
      $(() => {
        $objects["file"] = $("#file");
        $objects["submit"] = $("#submit");
        $objects["table"] = $("#table");
        $objects["table"].DataTable();
      });
    </script>
  </body>
</html>
