<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Users</title>

    <meta name="csrf-token" content="{{ csrf_token() }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="A fully featured admin theme which can be used to build CRM, CMS, etc."
      name="description"
    />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/gfca.png" />

    <!-- third party css -->
    <link
      href="/assets/css/vendor/jquery-jvectormap-1.2.2.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/assets/css/vendor/dataTables.bootstrap5.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- third party css end -->

    <!-- App css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link
      href="/assets/css/app.min.css"
      rel="stylesheet"
      type="text/css"
      id="app-style"
    />

    <link href="/assets/css/mystyle.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
      .btn-xxl {
        font-size: calc(2rem + 0.0012vw);
        padding: 0.8rem 1rem;
        width: 100%;
        height: 100%;
      }
    </style>

    <script>
      let openForm = () => {
        event.preventDefault();
        window.location = "/home/user/create-user";
      };
    </script>
  </head>

  <body
    class="loading"
    data-layout-color="light"
    data-leftbar-theme="dark"
    data-layout-mode="fluid"
    data-rightbar-onstart="true"
  >
    <!-- Begin page -->
    <div class="wrapper">
      <%- include('../../partials/admin-side'); -%>

      <!-- ============================================================== -->
      <!-- Start Page Content here -->
      <!-- ============================================================== -->

      <div class="content-page px-4">
        <div class="content">
          <%- include('../../partials/admin-nav'); -%>
          <div class="row">
            <div class="col-12">
              <div class="page-title-box d-flex align-items-center gap-x-8">
                <h4 class="page-title mr-3">User</h4>
                <button
                  onclick="openForm()"
                  type="button"
                  class="btn btn-outline-secondary h-25 px-4 mx-4"
                >
                  Create user
                </button>
              </div>
            </div>
          </div>
          <div class="p-3 mb-2 bg-white text-dark rounded">
            <table class="table table-striped" id="table">
              <thead>
                <tr>
                  <th scope="col">StaffID</th>
                  <th scope="col">Email Address</th>
                  <th scope="col">Name</th>
                  <th scope="col">Date of Birth</th>
                  <th scope="col">Organization</th>
                  <th scope="col">Rank</th>
                  <th scope="col">Reports to</th>
                  <th scope="col">Status</th>
                  <th scope="col">User Type</th>
                  <th scope="col">Privileges</th>
                  <th scope="col">image</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>125544</td>
                  <td>mark@gra.gov.gh</td>
                  <td>Mark Otto</td>
                  <td>23 May 1975</td>
                  <td>Ghana Revenue Authority</td>
                  <td>Assistant Commissioner</td>
                  <td>Peter Mensah</td>
                  <td>Active</td>
                  <td>Established</td>
                  <td>Investigator</td>
                  <td><img src="#" alt="" /></td>
                </tr>
                <tr>
                  <td>58475</td>
                  <td>yaw@police.gov.gh</td>
                  <td>Yaw Baah</td>
                  <td>15 December 1982</td>
                  <td>Ghana Police Service</td>
                  <td>Superintendent</td>
                  <td></td>
                  <td>Active</td>
                  <td>Established</td>
                  <td>Inspector</td>
                  <td><img src="#" alt="" /></td>
                </tr>
                <tr>
                  <td>125544</td>
                  <td>mark@gra.gov.gh</td>
                  <td>Yahaya Moro</td>
                  <td>03 June 1969</td>
                  <td>Ghana Police Service</td>
                  <td>Assistant Commissioner</td>
                  <td>Yaw Baah</td>
                  <td>Active</td>
                  <td>Established</td>
                  <td>Officer</td>
                  <td><img src="#" alt="" /></td>
                </tr>
                <tr>
                  <td>125544</td>
                  <td>mark@gra.gov.gh</td>
                  <td>Mark Otto</td>
                  <td>23 May 1975</td>
                  <td>Economic and Organized Crime Office</td>
                  <td>Assistant Commissioner</td>
                  <td>Peter Mensah</td>
                  <td>Active</td>
                  <td>Established</td>
                  <td>Investigator,</td>
                  <td><img src="#" alt="" /></td>
                </tr>
                <tr>
                  <td>125544</td>
                  <td>mark@gra.gov.gh</td>
                  <td>Mark Otto</td>
                  <td>23 May 1975</td>
                  <td>Financial Intelligence Center</td>
                  <td>Assistant Commissioner</td>
                  <td>Peter Mensah</td>
                  <td>Active</td>
                  <td>Established</td>
                  <td>Investigator,</td>
                  <td><img src="#" alt="" /></td>
                </tr>
                <tr>
                  <td>125544</td>
                  <td>mark@gra.gov.gh</td>
                  <td>Mark Otto</td>
                  <td>23 May 1975</td>
                  <td>Ghana Revenue Authority</td>
                  <td>Assistant Commissioner</td>
                  <td>Peter Mensah</td>
                  <td>Active</td>
                  <td>Established</td>
                  <td>Investigator,</td>
                  <td><img src="#" alt="" /></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Start Content-->

          <!-- container -->
        </div>
        <!-- content -->

        <%- include('../../partials/footer'); -%>
      </div>

      <!-- ============================================================== -->
      <!-- End Page content -->
      <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->

    <!-- bundle -->
    <script src="/assets/js/vendor.min.js"></script>
    <script src="/assets/js/app.min.js"></script>

    <!-- third party js -->
    <script src="/assets/js/vendor/apexcharts.min.js"></script>
    <script src="/assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>

    <script src="/assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/assets/js/vendor/dataTables.bootstrap5.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- third party js ends -->

    <script type="text/javascript">
      let $objects = {};
      $(() => {
        $objects["file"] = $("#file");
        $objects["submit"] = $("#submit");
        $objects["table"] = $("#table");
        $objects["table"].DataTable();
      });
    </script>
  </body>
</html>
