<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Transaction Monitoring - Black Transferers | gfca</title>
    <meta name="csrf-token" content="{{ csrf_token() }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="A fully featured admin theme which can be used to build CRM, CMS, etc."
      name="description"
    />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/gfca.png" />

    <!-- third party css -->
    <link
      href="/assets/css/vendor/jquery-jvectormap-1.2.2.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/assets/css/vendor/dataTables.bootstrap5.css"
      rel="stylesheet"
      type="text/css"
    />
    <!--  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

    <!-- third party css end -->

    <!-- App css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link
      href="/assets/css/app.min.css"
      rel="stylesheet"
      type="text/css"
      id="app-style"
    />

    <link href="/assets/css/mystyle.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
      .btn-xxl {
        font-size: calc(2rem + 0.0012vw);
        padding: 0.8rem 1rem;
        width: 100%;
        height: 100%;
      }

      #table td {
        padding: 1px;
        font-size: 13px;
        font-family: "Courier New", Courier, monospace;
      }
    </style>
  </head>

  <body
    class="loading"
    data-layout-color="light"
    data-leftbar-theme="dark"
    data-layout-mode="fluid"
    data-rightbar-onstart="true"
  >
    <!-- Begin page -->
    <div class="wrapper">
      <%- include('../../partials/admin-side'); -%>

      <!-- ============================================================== -->
      <!-- Start Page Content here -->
      <!-- ============================================================== -->

      <div class="content-page">
        <div class="content">
          <%- include('../../partials/admin-nav'); -%>

          <!-- Start Content-->
          <div class="row">
            <div class="col-12">
              <div class="page-title-box">
                <div class="page-title-right">
                  <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item">
                      <a href="/home/cases">Case Management</a>
                    </li>
                    <li class="breadcrumb-item active">Cases</li>
                  </ol>
                </div>
                <h4 class="page-title">Blacklist</h4>
              </div>
            </div>
          </div>
          <!-- end page title -->

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <table id="table" class="table text-center nowrap w-100">
                    <thead>
                      <tr>
                        <th>Bank</th>
                        <th>No. of Transactions</th>
                        <th>Currency</th>
                        <th>Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>100.00</td>
                        <td><a href="#">12,500.00</a></td>
                        <td>1000.00</td>
                        <td>100.00</td>
                      </tr>
                      <tr>
                        <td>100.00</td>
                        <td><a href="#">12,500.00</a></td>
                        <td>1000.00</td>
                        <td>100.00</td>
                      </tr>
                      <tr>
                        <td>100.00</td>
                        <td><a href="#">12,500.00</a></td>
                        <td>1000.00</td>
                        <td>100.00</td>
                      </tr>
                      <tr>
                        <td>100.00</td>
                        <td><a href="#">12,500.00</a></td>
                        <td>1000.00</td>
                        <td>100.00</td>
                      </tr>
                      <tr>
                        <td>100.00</td>
                        <td><a href="#">12,500.00</a></td>
                        <td>1000.00</td>
                        <td>100.00</td>
                      </tr>
                      <tr>
                        <td>100.00</td>
                        <td><a href="#">12,500.00</a></td>
                        <td>1000.00</td>
                        <td>100.00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- container -->
        </div>
        <!-- content -->

        <%- include('../../partials/footer'); -%>
      </div>

      <!-- ============================================================== -->
      <!-- End Page content -->
      <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->

    <%- include('../../partials/admin-layout'); -%>
    <script type="text/javascript">
      let $objects = {};

      $(() => {
        $objects["table"] = $("#table");

        $objects["table"].DataTable();
        let selectedRow = null;
        let datatable = null;

        datatable = $objects["table"].DataTable();
      });
    </script>
  </body>
</html>
