<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Data warehouse - GHIPSS | gfca </title>
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
  <meta content="Coderthemes" name="author" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="/assets/images/gfca.png">

  <!-- third party css -->
  <link href="/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />


  <!-- third party css end -->

  <!-- App css -->
  <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />

  <link href="/assets/css/mystyle.css" rel="stylesheet" type="text/css" />

  <style type="text/css">
    .btn-xxl {
      font-size: calc(2rem + 0.0012vw);
      padding: 0.8rem 1rem;
      width: 100%;
      height: 100%;
    }

    #table td {
      padding: 1px;
      font-size: 13px;
      font-family: "Courier New", Courier, monospace;
    }

    .btn.delete {
      border: none;
      padding: 0;
    }

    .btn.view {
      border: none;
      padding: 0;
    }
  </style>
</head>

<body class="loading" data-layout-color="light" data-leftbar-theme="dark" data-layout-mode="fluid" data-rightbar-onstart="true">
  <!-- Begin page -->
  <div class="wrapper">
    <%- include('../../partials/admin-side'); -%>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
      <div class="content">
        <%- include('../../partials/admin-nav'); -%>

        <!-- Start Content-->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box">
              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                  <li class="breadcrumb-item active">Admin</li>
                </ol>
              </div>
              <h4 class="page-title">GHIPSS files details</h4>
            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <table id="table" class="table text-center nowrap w-100">
                  <thead>
                    <tr>
                      <th>N°</th>
                      <th>File Name</th>
                      <th>Uploaded at</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
                <div class="mb-3 text-center d-flex justify-content-center">
                  <button type="button" class="btn btn-info" id="#">View all</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- container -->

      </div>
      <!-- content -->



      <%- include('../../partials/footer'); -%>

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

  </div>
  <!-- END wrapper -->


  <%- include('../../partials/admin-layout'); %>
  <script type="text/javascript">
    let $objects = {};

    $(() => {
      $objects['table'] = $('#table');

      let selectedRow = null;
      let datatable = null;

      datatable = $objects['table']
        .on('click', '.view', function(e) {
          selectedRow = datatable.row($(this).closest('tr'));

          location = '/ghipss/file/' + selectedRow.data()._id;
        })
        .on('click', '.delete', function(e) {
          selectedRow = datatable.row($(this).closest('tr'));
          const fileId = selectedRow.data()._id;

          Swal.fire({
            title: 'Do you want to delete this file?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Delete',
          }).then(result => {
            if (result.isConfirmed) {
              Swal.fire({
                'title': 'Deleting...',
                'didOpen': () => {
                  Swal.showLoading();
                },
                'allowOutsideClick': false
              });
              
              $.ajax({
                url: `/ghipss/delete_file/${fileId}`,
                method: 'POST',
                data: {},
                dataType: 'json',
                success: result => {
                  if (result.status == 'success') {
                    Swal.fire({
                      'title': 'File deleted!',
                      'icon': 'success'
                    });

                    datatable.draw(false);
                  } else {
                    if ('message' in result) {
                      Swal.fire({
                        title: 'Error!',
                        text: result.message,
                        icon: 'error'
                      });
                    } else
                      Swal.close();
                  }
                },
                'error': result => {
                  console.log(result);
                }
              });
            }
          });
        })
        .DataTable({
          processing: true,
          serverSide: true,
          columns: [{
              data: '__no__'
            },
            {
              data: 'filename'
            },
            {
              data: 'loaded_at'
            },
            {
              data: 'actions',
              orderable: false
            }
          ],
          order: [0, 'asc'],
          ajax: {
            url: `/ghipss/file_list`,
            type: 'POST',
            dataType: 'json',
            data: d => {},
            error: data => {
              console.log(data);
            }
          },
          pageLength: 25,
          autoWidth: false,
          scrollX : true
        });
    });
  </script>

</body>

</html>